.active{
    color: rgb(255, 136, 0);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: fixed;
}

nav .logo{
    height: 50px;
    width: 50px;
}

nav .buttonCadastro{
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    height: 100px;
    width: 50px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    color: rgba(255, 132, 0, 0.721);
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.2rem;
    height: 2rem;
}

nav .menu span{
    height: 0.2rem;
    width: 80%;
    background-color: white;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open{
        display: flex;
    }

    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}